<a href="https://colab.research.google.com/github/clovesrocha/ETEPD_LP/blob/main/PrimeiroCRUDemPython_e_SQlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:

import sqlite3

#Criando o banco de dados "primeiro_banco" e conectando ao banco criado
banco = sqlite3.connect('primeiro_banco.db')

#Criando um cursor para trabalho com o banco de dados
cursor = banco.cursor()

#Criando uma tabela com parametros de Nome, Idade, e Email CRIAR - CRUD
#cursor.execute("CREATE TABLE pessoas (nome text,idade integer,email text)")
#Apos incluir um dado no banco de dados "banco" é necessario incluir comentario para que nao haja duplicações
#cursor.execute("INSERT INTO pessoas VALUES('Maria',40,'maria123@gmail.com')")
#cursor.execute("INSERT INTO pessoas VALUES('Joao',50,'joao123@gmail.com')")
#DELETAR - CRUD
#cursor.execute("DELETE from pessoas WHERE nome = Juca")

#ATUALIZAR - CRUD
cursor.execute("UPDATE pessoas SET nome = 'Juca' WHERE nome = 'Joao'")
cursor.execute("UPDATE pessoas SET email = 'juca123@gmail.com' WHERE email = 'joao123@gmail.com'")

banco.commit()

#LER - CRUD
cursor.execute("SELECT * FROM pessoas")
print(cursor.fetchall())
#ref: https://youtu.be/jYUDi83tJXc

[('Juca', 50, 'juca123@gmail.com'), ('Juca', 50, 'juca123@gmail.com')]